/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

  /* START HERO GRID DEFINE */

  /* Small devices (landscape phones, 576px and up) and Medium devices (tablets, 768px and up) */
  @media (max-width: 576px) {

    .ubique-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      object-fit: contain;
      overflow: hidden;
    }

    .ubique-hero-video-item {
      color: #000;
      min-height: 50vh;
      max-height: 50vh;
      
      
      flex-basis: 135%;
      float: left;
      margin-left: -35%;
      background-color: rgba(72, 38, 131,1);
      object-fit: contain;
      overflow: hidden;
    }

    .ubique-hero-text-item {
      color: #FFF;
      flex-grow: 1;
      height: 50vh;
      min-height: 50vh;
      max-height: 50vh;
      min-width: 100vw;
      max-width: 100vw;
      background-color: rgba(72, 38, 131,1);
      align-items: center;
      object-fit: contain;
      overflow: hidden;
      background-color: rgba(72, 38, 131,1);
    }

  }


  /* Large devices (desktops, 992px and up) and Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

    .ubique-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      object-fit: contain;
      overflow: hidden;
    }

    .ubique-hero-video-item {
      color: #000;
      max-height: 100vh;
      width: 100vw;
      float: left;
      margin-left: -15%;
      background-color: rgba(72, 38, 131,1);
      object-fit: contain;
      overflow: hidden;
    }

    .ubique-hero-text-item {
      color: #FFF;
      background-color: rgba(72, 38, 131,1);
      width: 50vw;
      max-width: 50vw;
      height: 100vh;
      max-height: 100vh;
      overflow: hidden;
      object-fit: contain;
    }

    .ubique-video {
      width: calc(100vh * (16/9));
    }

    #ubiqueherotable {
      height: 90vh;
      position:center;
      
      
    }
  }

  /* END HERO GRID */

  #container {
    width: 100%;
    overflow: hidden;
  }

  #one {
    width: 50vw;
    padding: 0px;
    float: left;
    overflow: hidden;
  }

  #two {
    width: 40vw;
    padding: 0px;
    float: right;
    overflow: hidden;
  }


  @media only screen and (max-width: 767px) {
    #one {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100vw;
      height: 100vh;
      padding: 0px;
      z-index: 3;
    }
  }


  @media only screen and (max-width: 767px) {
    #container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100vw;
      height: 100vh;
      padding: 0px;
      z-index: 3;
    }
  }


  @media only screen and (max-width: 767px) {
    #two {
      opacity: 0;
    }
  }


  audio, canvas, iframe, img, svg, video {
    vertical-align: top;
    align-items: top;
  }

    audio:not([controls]) {
      display: none;
      height: 0
    }



  /* FONT SIZEZ BY DEVICE SIZE */

  @media (max-width:699px) {
    html {
      font-size: 15px
    }
  }

  @media (min-width:700px) and (max-width:999px) {
    html {
      font-size: 12px
    }
  }

  @media (min-width:1000px) and (max-width:1199px) {
    html {
      font-size: 14px
    }
  }

  @media (min-width:1200px) and (max-width:1599px) {
    html {
      font-size: 16px
    }
  }

  @media (min-width:1600px) and (max-width:1999px) {
    html {
      font-size: 18px
    }
  }

  @media (min-width:2000px) and (max-width:2399px) {
    html {
      font-size: 20px
    }
  }

  @media (min-width:2400px) {
    html {
      font-size: 22px
    }
  }


/* BRAND COLORS */
:root {
  font-size: 100%;
  --primary-1: hsla(262, 55%, 33%, 100%);
  --primary-2: hsla(262, 44%, 44%, 95%);
  --primary-3: hsla(262, 33%, 55%, 90%);
  --primary-4: hsla(262, 25%, 70%, 80%);
  --workforce-1: hsla(125, 50%, 25%, 100%);
  --workforce-2: hsla(125, 60%, 40%, 95%);
  --workforce-3: hsla(125, 70%, 60%, 90%);
  --workforce-4: hsla(125, 60%, 80%, 80%);
  --tech-3: hsla(55, 75%, 60%, 90%);
  --insight-1: hsla(220, 100%, 15%, 1);
  --dark-1: hsla(0, 0%, 7%, 100%);
  --dark-2: hsla(0, 0%, 20%, 100%);
  --dark-3: hsla(0, 0%, 46%, 100%);
  --dark-4: hsla(0, 0%, 60%, 100%);
  --light-1: hsl(255, 100%, 100%);
  --light-2: hsl(255, 80%, 100%);
  --light-3: hsl(255, 60%, 100%);
  --light-4: hsl(255, 40%, 100%);
}

.dark-4 {
  color: var(--dark-4);
}

.dark-1 {
  color: var(--dark-1);
}

.primary-3 {
  color: var(--primary-3);
}

.primary-4 {
  color: var(--primary-4);
}

.primary-1 {
  color: var(--primary-1);
}

.workforce-1 {
  color: var(--workforce-1);
}

.workforce-2 {
  color: var(--workforce-2);
}

.tech-3 {
  color: var(--tech-3);
}

.insight-1 {
  color: var(--insight-1);
}

.light-4 {
  color: var(--light-4);
}

.ubqique-bg-color {
  background-color: #482683 !important;
}

/* PBH 8/2/2020 The ::selection selector matches the portion of an element that is selected by a user.
Only a few CSS properties can be applied to the ::selection selector: color, background, cursor, and outline.*/
::-moz-selection { /* Code for Firefox */
  color: #FFF;
  background: #482683;
}

::selection {
  color: #FFF;
  background: #482683;
}

.highlightme {
  color: #FFF;
  background: #482683;
}

.redhighlightme {
  color: #FFFFFF;
  background: #BA000D;
}


/* ----------------------------------------------------------------
	Text Size Utility Classes
-----------------------------------------------------------------*/
.text-white {
  color: #FFF !important;
}

.ubique-text-color {
  color: #482683 !important;
}

.ubique-inter-text {
  font-family: Inter;
}

.ubique-svg-background-1 {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.27'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23160d1e' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23221535' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%232e1b4e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%233b2068' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23482683' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.ubique-svg-background-2 {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230f0716' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23180e23' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231f1232' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23261541' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%232d1851' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.ubique-svg-background-3 {
  background-color: #2d1851;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%232d1851'/%3E%3Cstop offset='1' stop-color='%23321b5c'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.owl-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 5px;
  border-radius: 4px;
  transition: all .3s ease-out;
  opacity: .3;
}

  .owl-carousel .owl-dots .owl-dot.active {
    width: 45px;
  }

#oc-features.owl-carousel .owl-dots {
  position: absolute;
  top: auto;
  left: 50%;  
  margin-left: -75px;
}

@media (min-width:768px) {
    .hidden-md-up {
        display: none !important
    }
}

@media (max-width:991px) {
    .hidden-md-down {
        display: none !important
    }
}

@media (min-width:992px) {
    .hidden-lg-up {
        display: none !important
    }
}


.ubique-text-black {
  color: rgba(20, 20, 20, 1) !important;
}



.ubique-text-black-75 {
  color: rgba(20, 20, 20, 0.75) !important;
}
